.env
.venv
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3
*.db
*.log
*.pot
*.py[co]
*.egg-info/
*.swp
.DS_Store
.coverage
htmlcov/
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/
.pytest_cache/
